In [27]:
import pandas as pd

In [28]:
df_iris = pd.read_csv("./iris.csv")
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [29]:
df_iris.value_counts()

sepal.length  sepal.width  petal.length  petal.width  variety
5.8           2.7          5.1           1.9          Virginica    2
4.4           2.9          1.4           0.2          Setosa       1
              3.0          1.3           0.2          Setosa       1
              3.2          1.3           0.2          Setosa       1
4.3           3.0          1.1           0.1          Setosa       1
                                                                  ..
7.7           2.6          6.9           2.3          Virginica    1
              2.8          6.7           2.0          Virginica    1
              3.0          6.1           2.3          Virginica    1
              3.8          6.7           2.2          Virginica    1
7.9           3.8          6.4           2.0          Virginica    1
Name: count, Length: 149, dtype: int64

Realiza un conteo de los datos, mostrando cuantas veces se repiten.

In [30]:
len(df_iris)

150

Representa la cantidad de datos en el data frame como un int.

In [31]:
df_iris.nunique()

sepal.length    35
sepal.width     23
petal.length    43
petal.width     22
variety          3
dtype: int64

Cuenta el número de datos únicos en cada columna como un int.

In [32]:
df_iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Realiza una descripción general de los datos, mostrando el conteo, el promedio,
la desviación estándar, como también máximo y mínimo y los cuantil.

In [33]:
df_iris.sum()

sepal.length                                                876.5
sepal.width                                                 458.6
petal.length                                                563.7
petal.width                                                 179.9
variety         SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...
dtype: object

Realiza la suma de todos los datos de cada columna.

In [34]:
df_iris.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

Cuenta la cantidad de datos en cada serie.

In [43]:
df_iris.median(numeric_only=True)

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

Realiza el promedio aritmético de cada serie de datos.

In [53]:
df_iris.quantile([0.25, 0.75], numeric_only=True)

      sepal.length  sepal.width  petal.length  petal.width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

Regresa el valor medio de cada percentil.

In [48]:
def doble(x):
    return x + x

df_iris.apply(doble)

     sepal.length  sepal.width  petal.length  petal.width             variety
0            10.2          7.0           2.8          0.4        SetosaSetosa
1             9.8          6.0           2.8          0.4        SetosaSetosa
2             9.4          6.4           2.6          0.4        SetosaSetosa
3             9.2          6.2           3.0          0.4        SetosaSetosa
4            10.0          7.2           2.8          0.4        SetosaSetosa
..            ...          ...           ...          ...                 ...
145          13.4          6.0          10.4          4.6  VirginicaVirginica
146          12.6          5.0          10.0          3.8  VirginicaVirginica
147          13.0          6.0          10.4          4.0  VirginicaVirginica
148          12.4          6.8          10.8          4.6  VirginicaVirginica
149          11.8          6.0          10.2          3.6  VirginicaVirginica

[150 rows x 5 columns]

In [ ]:
# Aplica la función a todos los datos.

In [38]:
df_iris.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

Regresa el valor mínimo de cada serie.

In [39]:
df_iris.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

Regresa el valor máximo de cada serie.

In [ ]:
df_iris.mean(numeric_only=True)

Regresa el promedio de cada serie.

In [50]:
df_iris.var(numeric_only=True)

sepal.length    0.685694
sepal.width     0.189979
petal.length    3.116278
petal.width     0.581006
dtype: float64

Regresa la varianza de cada serie.

In [ ]:
df_iris.std(numeric_only=True)

Regresa la desviación estándar de cada serie.